@import 'settings';

// node_modules/foundation-emails/scss/foundation-emails.scss
@import 'foundation-emails';
@import 'styles';

.card-image img{
	display: block;
	margin: 10px auto;
}
.card-image .card-title a{
	color:#444444;
	text-decoration: none;
}
