<table class="button tiny">
  <tr>
    <td>
      <table>
        <tr>
          <td><a href="#">Tiny Button</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<spacer size="15"></spacer>
<table class="button small">
  <tr>
    <td>
      <table>
        <tr>
          <td><a href="#">Small Button</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<spacer size="15"></spacer>
<table class="button large">
  <tr>
    <td>
      <table>
        <tr>
          <td><a href="#">Large Button</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table> 

<spacer size="15"></spacer>
<table class="button expanded">
  <tr>
    <td>
      <table>
        <tr>
          <td><a href="#">Expanded Button</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<spacer size="15"></spacer>
<!-- START Reg Button -->
<table class="button">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <a href="#">Reg Button</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END Reg Button -->

<spacer size="15"></spacer>
<!-- START Button Expanded -->
<table class="button small-expanded">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <a href="#">Small Expanded Button</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END Button Expanded -->

<spacer size="15"></spacer>

<!-- START Button Expanded Primary Centered -->
<center class="btn-centered">
  <table class="button">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <a href="#">Secondary Button Centered</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
<!-- END Button Expanded Primary Centered -->

<spacer size="15"></spacer>

<!-- START Button Centered Secondary -->
<center class="btn-centered">
  <table class="button secondary">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <a href="#">Secondary Button Centered</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
<!-- END Button Centered Secondary -->

<spacer size="15"></spacer>
<table class="button secondary">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <a href="#">Small Expanded Button</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<spacer size="15"></spacer>
<table class="button success">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <a href="#">Small Expanded Button</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<spacer size="15"></spacer>
<table class="button warning">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <a href="#">Small Expanded Button</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<spacer size="15"></spacer>
<table class="button alert">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <a href="#">Small Expanded Button</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<spacer size="15"></spacer>
<table class="button alert radius">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <a href="#">Small Expanded Button</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<spacer size="15"></spacer>
<center>
<table class="button alert rounded">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <a href="#">Small Expanded Button</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>  
</center>
