<table class="callout">
  <tr>
    <th class="callout-inner primary">
      <table class="row">
        <tbody>
          <tr>
            <th class="small-12 large-12 columns">
              <table>
                <tr>
                  <td>
                    <spacer size="15"></spacer>
                    <p>This whole row is in a callout!</p>
                  </td>
                  <th class="expander"></th>
                </tr>
              </table>
            </th>
          </tr>
        </tbody>
      </table>
    </th>
    <th class="expander"></th>
  </tr>
</table>