<!-- START image banner -->
<row class="collapse sponsor-banner">
  <columns small="12">
    <img src="http://meet.adaptiveinsights.com/hubfs/Banner%20Images/email-banner-sponsor.png" width="600" height="58">
  </columns>
</row>
<!-- END image banner -->

<!-- START partner img-->
<row class="collapse partner-img">
  <columns small="12">
    <img src="https://images.magnetmail.net/images/clients/AFPonline/FPA-17_Responsive_EarlyApp_ADAPTIVE.png" alt="AFP" width="600" height="618">
  </columns>
</row>
<!-- END partner img-->

<!-- END paragraph-->
<row>
  <columns small="12">
    <p>Validate your skillset and join the others with the FP&amp;A designation around the world by applying for the August/September 2017 testing window.</p>
  </columns>
</row>
<!-- END paragraph-->

<!-- START button -->
<center class="btn-centered">
  <table class="button secondary">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <a href="http://fpacert.afponline.org/how-to-apply/submit?utm_source=internal_email&amp;utm_medium=email&amp;utm_campaign=fpa17window_badaptive">REQUEST MORE INFORMATION</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
<!-- END button -->

<!-- START event info -->
<row class="event-info">
  <columns small="12">
    <div>
      <p class="text-center">Advancing the Finance Profession Worldwide</p>
      <p>
        <img class="text-center" alt="Social" border="0" data-map="SWYN_Map_1" draggable="false" height="41" hspace="0" src="https://images.magnetmail.net/images/template/AFPonline/CommunicationsNewsletter/Social_bar.jpg" style="width: 282px; height: 41px;" usemap="#SWYN_Map_1" vspace="0" width="282">
        <map name="SWYN_Map_1">
            <area alt="Linkedin" coords="4,3,43,39" href="http://www.linkedin.com/groupInvitation?groupID=81522&amp;sharedKey=25064B09BD91" shape="rect" target="_blank">
            <area alt="Twitter" coords="56,6,87,35" href="http://twitter.com/afponline" shape="rect" target="_blank">
            <area alt="facebook" coords="102,5,138,37" href="https://www.facebook.com/pages/Association-for-Financial-Professionals/458370290991379?fref=ts" shape="rect" target="_blank">
            <area alt="Youtube" coords="150,5,186,37" href="http://www.youtube.com/afponline" shape="rect" target="_blank">
            <area alt="Instagram" coords="198,4,233,38" href="https://www.instagram.com/afp_online/" shape="rect" target="_blank">
            <area alt="customerservice" coords="242,3,279,38" href="mailto:customerservice@afponline.org" shape="rect">
        </map>
      </p>
      <p class="text-center">Association for Financial Professionals<br>4520 East-West Highway, Suite 800 Bethesda, MD 20814, USA<br>Phone +1 301.907.2862<br><a href="http://www.AFPonline.org">www.AFPonline.org</a></p>
    </div>
  </columns>
</row>
<!-- END event info -->

