<!-- START Email Forward -->
<row class="email-forward">
  <columns small="12">
    <p>Hi FirstName,</p>
    <p>I’d like to personally invite you to join an exclusive group of finance professionals at our upcoming executive finance breakfast at Grill Forty One on March 9.</p>
    <p>This by-invitation event is designed to encourage insightful dialogue and high-level networking amongst CFOs and other finance leaders. Attendees will hear how "best-in-class" finance teams are delivering value and maximizing business performance.</p>
    <p><a href="#" target="_blank">RSVP to get your complimentary VIP Guest Pass</a>. I hope you will join us!</p>
  
    <p>
      Regards,<br>
      Andrew Dalakoudis<br>
      Regional Manager<br>
      Adaptive Insights<br>
      <a href="mailto:firstnamelastname@adaptiveinsights.com">firstnamelastname@adaptiveinsights.com</a><br>(650)555-5555
    </p>
  </columns>
</row>
<!-- END Email Forward -->