<!-- START emailBody -->
<row class="email-body">
  <columns small="12">
    <p>Hi&nbsp;{{contact.firstname}},</p>
    <p>Describe what you have to offer the customer. Why should they read? What did you promise them in the subject line? Tell them something cool. Make them laugh. Make them cry. Well, maybe don't do that...</p>
    <p>Use a list to:</p>
    <ul>
      <li>Explain the value of your offer</li>
      <li>Remind the reader what they’ll get out of taking action</li>
      <li>Show off your skill with bullet points</li>
      <li>Make your content easy to scan</li>
    </ul>
    <p><a href="http://hubspot.com">LINK TO A LANDING PAGE ON YOUR SITE</a> (This is the really important part.)</p>
    <p>Now wrap it all up with a pithy little reminder of how much you love them.</p>
    <p>Aw. You silver-tongued devil, you.</p>
  </columns>
</row>
<!-- END emailBody-->