<!-- START Event -->
<row class="event">
  <columns small="12">
    <h3 class="text-center event-title">BOSTON WORKSHOP</h3>
    <p class="text-center event-date-time">December 8, 8:00 AM – 1:00 PM</p>
    <p class="text-center event-location"><a href="#">The Bostonian Boston (a Millennium Hotel)</a></p>
    <p class="text-center event-address">26 North Street. Boston, MA 02109</p>
    <p class="text-center event-cost"><small>Cost: <strong>$20</strong></small></p>    
    <center>
      <button class="warning medium small-expanded" href="http://www.adaptiveinsights.com/in-person-events/event-registration/54101">Join Workshop</button>
    </center>
  </columns>
</row>
<!-- Event Event -->