<!-- START Follow Us -->
<row class="follow-us-component">
  <columns small="12">
    <h4 class="follow-us-heading">Follow Us!</h4>
    <ul class="follow-us">
      <li><a href="#" target="_blank" class="facebook"><img src="https://cdn2.hubspot.net/hubfs/2644207/Email%20Images/social-icons/facebook-icon-gray.png" alt="facebook icon"></a></li>
      <li><a href="#" target="_blank" class="twitter"><img src="https://cdn2.hubspot.net/hubfs/2644207/Email%20Images/social-icons/twitter-icon-gray.png" alt="twitter icon"></a></li>
      <li><a href="#" target="_blank" class="linkedin"><img src="https://cdn2.hubspot.net/hubfs/2644207/Email%20Images/social-icons/linkedin-icon-gray.png" alt="linkedin icon"></a></li>
  </ul>
  </columns>
</row>
<!-- END Follow Us -->