<menu>
  <item href="https://www.facebook.com/pages/Adaptive-Planning/503408193043110">
    <img src="http://images.customer.adaptiveplanning.com/EloquaImages/clients/AdaptivePlanning/%7b8fb30057-6b0c-467f-a247-8c291f096aec%7d_facebook.png" alt="Facebook" title="Facebook">
  </item>
  <item href="https://twitter.com/AdaptiveInsight">
    <img src="http://images.customer.adaptiveplanning.com/EloquaImages/clients/AdaptivePlanning/%7bd1378597-a7c0-46f2-b9d3-2c087673accb%7d_twitter.png" alt="Twitter" title="Twitter">
  </item>
  <item href="http://www.linkedin.com/company/29762">
    <img src="http://images.customer.adaptiveplanning.com/EloquaImages/clients/AdaptivePlanning/%7b6ad12f55-51f6-4916-8f74-a0907b6a242c%7d_linkedin.png" alt="LinkedIn" title="LinkedIn">
  </item>
</menu>