<table align="center" class="container">
  <tbody>
    <tr>
      <td>
        <table class="row">
          <tbody>
            <tr>
              <th class="small-12 large-3 columns first">
                <table>
                  <tr>
                    <th>
                      <p class="text-left">Left (default)</p>
                    </th>
                  </tr>
                </table>
              </th>
              <th class="small-12 large-3 columns">
                <table>
                  <tr>
                    <th>
                      <p class="text-center"><a href="#">center</a></p>
                    </th>
                  </tr>
                </table>
              </th>
              <th class="small-12 large-3 columns last">
                <table>
                  <tr>
                    <th>
                      <p class="text-right">right</p>
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


<table class="row text-cta">
  <tbody>
    <tr>
      <th class="small-12 large-3 columns first last">
        <table>
          <tr>
            <th>
              <p class="text-center"><a href="#">center</a></p>
            </th>
          </tr>
        </table>
      </th>
    </tr>
  </tbody>
</table>
     