<!-- Heading demo -->
<h1 class="secondary text-center">Heading 1 - 30px Centered</h1>
<h2 class="text-center">Heading 2 - 26px Centered</h2>
<h3 class="text-center">Heading 3 - 22px Centered</h3>
<!-- END Heading demo -->
<hr/>

<!-- START H1 -->
<h1>Heading 1 - 30px</h1>
<h1 class="primary">Heading 1 - 30px</h1>
<h1 class="secondary">Heading 1 - 30px</h1>

<h1 class="text-center">Heading 1 - 30px Centered</h1>
<h1 class="primary text-center">H1 - Primary - Centered</h1>
<h1 class="secondary text-center">H1 - Secondary - Centered</h1>
<!-- END H1 -->
<hr/>
<!-- START H2 -->
<h2>Heading 2 - 26px</h2>
<h2 class="primary">Heading 2 - 26px</h2>
<h2 class="secondary">Heading 2 - 26px</h2>

<h2 class="text-center">Heading 2 - 26px Centered</h2>
<h2 class="primary text-center">H2 - Primary - Centered</h2>
<h2 class="secondary text-center">H2 - Secondary - Centered</h2>
<!-- END H2 -->
<hr/>
<!-- START H3 -->
<h3>Heading 3 - 22px</h3>
<h3 class="primary">Heading 3 - 22px</h3>
<h3 class="secondary">Heading 3 - 22px</h3>

<h3 class="text-center">Heading 3 - 22px Centered</h3>
<h3 class="primary text-center">H3 - Primary - Centered</h3>
<h3 class="secondary text-center">H3 - Primary Centered</h3>
<!-- END H2 -->
<hr/>

<!-- START Paragraphs -->
<p>Paragraph</p>
<p class="text-center">Centered paragraph. Roof party fashion axe cornhole occupy crucifix. Flannel tilde crucifix hella stumptown actually. Hashtag hexagon fam, kitsch yr four loko typewriter.</p>

<p>Regular left-aligned paragraph. Roof party fashion axe cornhole occupy crucifix. Flannel tilde crucifix hella stumptown actually. Hashtag hexagon fam, kitsch yr four loko typewriter.</p>

<p class="small">Email paragraph small</p>
<p class="text-center small">Email paragraph small centered</p>

<p><a href="#" target="_blank">Text Link</a></p>
<p class="text-center"><a href="#" target="_blank">Text Link Centered</a></p>

<p><a href="#" class="text-button">Text Link</a></p>
<!-- END Paragraphs -->